name: Dummy CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  specs:
    runs-on: ubuntu-latest
    steps:
    - name: Dummy Step
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
      run: |
        uname -a
        echo $GITHUB_CONTEXT
