name: Gem Compare

on:
  pull_request:
    types:
      - labeled
      - ready_for_review

permissions:
  contents: read
  pull-requests: write

jobs:
  compare:
    if: |
      startsWith(github.head_ref, 'bump-') || contains(github.event.label.name, 'gem-compare')
    runs-on: ubuntu-latest
    steps:
      - uses: dentarg/gem-compare@714ba8b
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
