name: Test Action

on:
  workflow_dispatch:
    inputs:
      gem_name:
        description: 'Name of the Ruby gem to update'
        required: true
        type: string
      label:
        description: 'Label to set on the pull request created by the action'
        required: false
        type: string
        default: test
      update_type:
        description: 'Update type (major, minor, patch)'
        required: false
        type: choice
        options:
          - ''
          - major
          - minor
          - patch
      pre:
        description: 'Include pre-release versions'
        required: false
        type: boolean
        default: false
      gem_version:
        description: 'Specific version to update to'
        required: false
        type: string

permissions:
  contents: write
  pull-requests: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Test the action
        uses: ./
        with:
          gem_name: ${{ inputs.gem_name }}
          update_type: ${{ inputs.update_type }}
          pre: ${{ inputs.pre }}
          gem_version: ${{ inputs.gem_version }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          labels: ${{ inputs.label }}
