name: Test Action

on:
  workflow_dispatch:
    inputs:
      gem_name:
        description: 'Name of the Ruby gem to update'
        required: true
        type: string
      label:
        description: 'Label to set on the pull request created by the action'
        required: false
        type: string
        default: test

permissions:
  contents: write
  pull-requests: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Test the action
        uses: ./
        with:
          gem_name: ${{ inputs.gem_name }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          labels: ${{ inputs.label }}
